---
import Form from "@components/form.astro";
import H1 from "@elements/h1.astro";
---

<main
  class="mx-auto w-full max-w-[320px] md:max-w-screen-sm lg:max-w-screen-lg py-[144px] sx:py-[80px] grid gap-16"
>
  <section class="grid gap-4">
    <H1>
      ¡Transforma <span class="text-secondary">tu visión en realidad</span> con nuestro
      desarrollo web personalizado!
    </H1>
    <p class="text-base text-center font-normal">
      Deja tu email a continuación para recibir más información y descubre cómo
      podemos impulsar tu negocio.
    </p>
  </section>
  <section class="">
    <Form />
  </section>
</main>
