---
import CardService from "@components/cardService.astro";
---

<section
  class="mx-auto w-full md:max-w-screen-sm lg:max-w-screen-lg py-[144px] sm:w-screen sm:py-[80px] grid gap-16 bg-primary md:rounded-xl"
>
  <div
    class="max-w-[320px] mx-auto lg:max-w-screen-lg grid gap-32 lg:flex lg:px-20"
  >
    <CardService
      description="¿Te has sentido limitado por soluciones genéricas que no se adaptan a tus necesidades únicas? ¿Has experimentado dificultades para destacar en un mercado saturado? ¿La falta de personalización te ha impedido alcanzar tus objetivos online?"
      icon="balance"
    />
    <CardService
      description="Entendemos tus desafíos y te ofrecemos soluciones a medida que potencien tu presencia en línea. Desde diseños innovadores hasta funcionalidades personalizadas, trabajamos contigo para crear una experiencia web que refleje la esencia de tu marca y conecte con tu audiencia."
      icon="empty_dashboard"
    />
    <CardService
      description="Con nuestro enfoque personalizado, puedes esperar resultados tangibles. Desde un aumento en la participación del usuario hasta un incremento en las conversiones, nuestra colaboración te llevará a alcanzar tus metas empresariales de manera efectiva y eficiente."
      icon="rocket_launch"
    />
  </div>
</section>
