---
import H1 from "@elements/h1.astro";
import Page from "src/layout/page.astro";
---

<Page title="Error 404 | Sim칩n Web">
  <main
    class="mx-auto w-full max-w-[320px] md:max-w-screen-sm lg:max-w-screen-lg py-[144px] sx:py-[80px] grid gap-4 text-center"
  >
    <H1>P치gina no encontrada</H1>
    <p class="text-base font-normal">
      La p치gina a la que est치 intentando acceder no existe. Por favor, vuelva a
      intentarlo
    </p>
    <i class="text-4xl">游븷</i>
    <a class="text-primary font-semibold" rel="next" href="/#" type="text/html"
      >Volver a la p치gina de inicio</a
    >
  </main>
</Page>
