---
import Hero from "@section/hero.astro";
import Service from "@section/service.astro";
import Cta from "@section/CTA.astro";
import Footer from "@section/footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="text-black bg-bg">
		<Hero />
		<Service />
		<Cta />
		<Footer />
	</body>
</html>
