---
const { description, icon } = Astro.props;
---

<article class="text-white grid gap-8 text-center">
  <span class="material-symbols-outlined text-9xl"> {icon}</span>
  <div class="grid gap-4">
    <p>
      {description}
    </p>
    <a
      class="text-secondary-200 font-semibold"
      rel="next"
      href="#cta"
      type="text/html"
      >Saber mas ...
    </a>
  </div>
</article>
