<div class="text-white grid gap-8 text-center">
  <span class="material-symbols-outlined text-9xl"> compost</span>
  <div class="grid gap-4">
    <p>
      ¿Te has sentido limitado por soluciones genéricas que no se adaptan a tus
      necesidades únicas? ¿Has experimentado dificultades para destacar en un
      mercado saturado? ¿La falta de personalización te ha impedido alcanzar tus
      objetivos online?
    </p>
    <a class="text-secondary-200 font-semibold" href="#">Saber mas ...</a>
  </div>
</div>
