<div>
  <div>icon</div>
  <div>
    <p>
      ¿Te has sentido limitado por soluciones genéricas que no se adaptan a tus
      necesidades únicas? ¿Has experimentado dificultades para destacar en un
      mercado saturado? ¿La falta de personalización te ha impedido alcanzar tus
      objetivos online?
    </p>
  </div>
</div>
