---
import Button from "@components/button.astro";
---

<from action="" class="grid gap-2 justify-center">
  <div class="gap-0 flex">
    <input
      class="w-full py-4 px-8 border-gray-400 border rounded-s-lg"
      type="text"
      placeholder="Escribe tu E-mail"
      id=""
    />
    <Button style="rounded-e-lg px-4">¡Suscríbete!</Button>
  </div>
  <div>
    <p class="text-xs">
      Estamos comprometidos a proteger tus datos y utilizarlos únicamente para
      brindarte la mejor experiencia.
    </p>
  </div>
</from>
